
/* PARTE DE CODIGO JS*/
*{
    box-sizing: border-box;
}

body{
    background-color:teal;
}
.curriculum{
    background-color:white;
    border: 1px solid black;
    padding: 12px;
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif

}
.curriculum img{

    width: 100px;
    height: 100px;    
    border-radius: 50%;
    border: 4px solid aqua ;
}

.tittle{
    grid-column-start: 1;
    grid-column-end: 5;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.contenedor{
    width: 90%;
    background: white;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50 px;
}

.subtitle, .table_date{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    font-weight: bold;
    font-size: 20px;
}

.table_date{
    padding: 10px;
    font-size: 20px;
}
@media screen and (max-width: 800px) {
    .contenedor{
        grid-template-columns: 1fr;
    }
}